<template>
  <div class="home">
    <div>
      <Navbar/>
      <Teste/>
      <Video/>
      
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar.vue";
import Teste from "@/components/Slide.vue";
import Video from "@/components/Video.vue";
import Modal from "@/components/Modal.vue";

export default {
  name: "home",
  components: {
    Navbar,
    Teste,
    Video,
    Modal
  }
};
</script>

<style lang="scss">
body {
  background-color: #49acd6;
}

@font-face {
  font-family: "Gotham";
  src: url("../assets/font/Gotham-Book.otf");
}

@font-face {
  font-family: "Gotham";
  font-weight: bold;
  src: url("../assets/font/Gotham-Bold.otf");
}

body {
  font-family: "Gotham" !important;
}
</style>

