<template>
    <div class="modal">
        <div class="w100">
            <h2 class="inblock fl">{{cliente}}</h2>
            <div class="inblock fr">
                <md-icon>clear</md-icon>
            </div>
        </div>       
    </div>
</template>

<script>
export default {
    name:'Modal',
    data() {
        return {
            cliente: "Bradesco"
        }
    }
};
</script>

<style lang="scss" scoped>
    .modal{
        position: relative;
        background-color: white;
        display: block;
    }
    .inblock{
        display: inline-block;
    }
    .fl{
        float: left;
    }
    .fr{
        float: right;
    }
    .w100{
        width: 100%;
    }
</style>