<template>
  <div class="page-container md-layout-column">
    <md-toolbar class="md-primary">
      <div class="seta">
        <img class="img" src="../assets/images/seta.png" alt="">
      </div>
      <div class="relative">     
        <p><span class="md-title upper">Teste Prodigious </span></p>
        <img class="barra-cima" src="../assets/images/barras.png" alt="">
        <img class="barra-baixo" src="../assets/images/barras.png" alt="">

      </div>
      
      <div class="md-toolbar-section-end" @click="getLocation()">
        <div class="pin">
          <img class="img" src="../assets/images/pin.png" alt="">
      </div>
        <md-button class="menu" @click="showNavigation = true">
          <img class="img" src="../assets/images/menu.png" alt="">
        </md-button>
      </div>
    </md-toolbar>

    <md-drawer :md-right="true" :md-active.sync="showNavigation">
      <md-toolbar class="md-transparent" md-elevation="0">
        <p><span class="md-title">My App name</span></p>
      </md-toolbar>

      <md-list>
        <md-list-item>
          <md-icon>move_to_inbox</md-icon>
          <span class="md-list-item-text">Inbox</span>
        </md-list-item>

        <md-list-item>
          <md-icon>send</md-icon>
          <span class="md-list-item-text">Sent Mail</span>
        </md-list-item>

        <md-list-item>
          <md-icon>delete</md-icon>
          <span class="md-list-item-text">Trash</span>
        </md-list-item>

        <md-list-item>
          <md-icon>error</md-icon>
          <span class="md-list-item-text">Spam</span>
        </md-list-item>
      </md-list>
    </md-drawer>
  </div>
</template>

<script>
import axios from "axios";

const requester = axios.create({
  baseURL: "maps.googleapis.com/maps/api/geocode"
});

export default {
  name: "Navbar",
  data: () => ({
    showNavigation: false,
    showSidepanel: false,
    latitude: "",
    longitude: ""
  }),
  methods: {
    getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          console.log(
            "Latitude: " +
              position.coords.latitude +
              "<br>Longitude: " +
              position.coords.longitude
          );
        });
      } else {
        console.log("Geolocation is not supported by this browser.");
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.relative {
  position: relative;
}

.menu {
  min-width: 55px;
}

.img {
  width: 54%;
}

.seta {
  margin: 10px;
}

.barra-cima {
  position: absolute;
  top: -9px;
  left: 10px;
}

.barra-baixo {
  position: absolute;
  top: 54px;
  left: 10px;
}

.upper {
  text-transform: uppercase;
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.md-title {
  font-size: 20px;
  color: #575757 !important;
}

.md-toolbar.md-primary.md-theme-default {
  background-color: #fbfbfb;
  height: 105px;
}

i.md-icon.md-icon-font.md-theme-default {
  color: #49acd6;
  transform: scale(1.85);
}

.md-content {
  padding: 16px;
}

.md-drawer.md-theme-default.md-right.md-temporary.md-active {
  width: 290px;
}

@media (min-width: 750px) {
  .md-title {
    font-size: 40px;
  }
  .seta {
    padding: 24px;
    margin: 10px;
  }

  .menu > img {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  .barra-cima {
    position: absolute;
    top: -14px;
    left: 10px;
  }

  .barra-baixo {
    position: absolute;
    top: 59px;
    left: 10px;
  }
}
</style>