<template>
  <div class="page-container md-layout-column">
    <carousel :per-page="1">
    <slide>
      <img src="../assets/images/logo-01.png" alt="">
    </slide>
    <slide>
      <img src="../assets/images/logo-02.png" alt="">
    </slide>
    <slide>
      <img src="../assets/images/logo-03.png" alt="">
    </slide>
    <slide>
      <img src="../assets/images/logo-04.png" alt="">
    </slide>
  </carousel>
  </div>
</template>

<script>
  import { Carousel, Slide } from 'vue-carousel';

  export default {
    name: 'teste',
    components: {
      Carousel,
      Slide
    }
  }
</script>

<style lang="scss" scoped>
  img{
    width: 50%;
  }
  .page-container{
    margin: 75px 0;
  }
  .page-container ul li button {
      transform: scale(1.6) !important;
  }

  @media (min-width: 850px) {
    img{
      width: 35%;
    }
  }
</style>