<template>
    <div class="video">
        <iframe id="player" type="text/html" width="80%" height="340px"
    src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
    frameborder="0"></iframe>
    </div>
</template>

<script>
export default {
  name: "Video"
};
</script>

<style lang="scss" scoped>
audio:not(.md-image),
canvas:not(.md-image),
embed:not(.md-image),
iframe:not(.md-image),
img:not(.md-image),
object:not(.md-image),
video:not(.md-image) {
  height: 160px;
}
.video {
  padding-bottom: 130px;
}
@media (min-width: 360px) {
  audio:not(.md-image),
  canvas:not(.md-image),
  embed:not(.md-image),
  iframe:not(.md-image),
  img:not(.md-image),
  object:not(.md-image),
  video:not(.md-image) {
    height: 340px;
  }
}

@media (min-width: 900px) {
  audio:not(.md-image),
  canvas:not(.md-image),
  embed:not(.md-image),
  iframe:not(.md-image),
  img:not(.md-image),
  object:not(.md-image),
  video:not(.md-image) {
    height: 440px;
  }
}
@media (min-width: 1200px) {
  audio:not(.md-image),
  canvas:not(.md-image),
  embed:not(.md-image),
  iframe:not(.md-image),
  img:not(.md-image),
  object:not(.md-image),
  video:not(.md-image) {
    height: 540px;
  }
}
@media (min-width: 1450px) {
  audio:not(.md-image),
  canvas:not(.md-image),
  embed:not(.md-image),
  iframe:not(.md-image),
  img:not(.md-image),
  object:not(.md-image),
  video:not(.md-image) {
    height: 640px;
  }
}
</style>


